footer.footer.text-muted.bg-dark
  .container.py-3
    .row
      .col-12.col-md-4
        p Тел.: 8 (4725) 32-93-64
        p Факс: 8 (4725) 32-89-57
      .col-12.col-md-4
        p Белгородская область, г. Старый Оскол, м-н Солнечный, 18
        p Почтовый индекс: 309502
      .col-12.col-md-4
        p E-mail: pedcolledge@bk.ru
        p.mb-1.text-right ©
